{%extends "base.html"%}

{%block content%}
<section class="index">
    <aside class="aside"></aside>
    <div class="middle">
        <h2 class="headings">Main Page</h2>
        <section>
            <h3 class="headings">Books in the Library</h3>
            <div>
            <table class="table">
                <tr>
                    <th>Title </th>
                    <th>Author </th>
                    <th>Genre </th>
                    <th>Available? </th>
                    <th>Check In / Out Book</th>
                    <th>Due Date</th>
                    <th>Delete Book From Inventory</th>
                    <th>View This Book</th>
                </tr>
                {%for book in book_list%}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.genre}}</td>
                    <td>{%if book.checked_out%}&#10060;{%else%}&#9989;{%endif%}</td>
                    <td>
                        <form action="/library/{{loop.index0}}" method="POST">
                            <label for="in">Check In:</label>    
                            <input type="radio" id="in" name="status" value="CheckIn" required><br>
                            <label for="out">Check Out: </label>
                            <input type="radio" id="out" name="status" value="CheckOut"><br>
                            <input type="submit">
                        </form>
                    </td>
                    <td>{%if book.due_date == None%}N/A{%else%}{{book.due_date}}{%endif%}</td>
                    <td>
                        <form action="/library/{{loop.index0}}/delete" method="POST">
                            <input class="delete" type="Submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <form action="/library/viewbook/{{loop.index0}}">
                            <input class="view" type="Submit" value="View This Book">
                        </form>
                    </td>
                </tr>
                {%endfor%} 
            </table>     
            </div>
        </section>
        <section class="addnew">
            <h3 class="headings">Add a New Book to the Library</h3>
            <div class="add">
                <form action="/library/add" method="post">
                    <label for="title"> Title: </label>
                    <input id="title" name="title" type="text">
                    <label for="author">Author: </label>
                    <input id="author" name="author" type="text">
                    <label for="genre">Genre: </label>
                    <input id="genre" name="genre" type="text">
                    <input type="submit">
                </form>
            </div>
        </section>
    </div>
    <aside class="aside"></aside>





</section>
{%endblock%}